# OS files
.DS_Store

# Environment files
.env
*.env
!*.env.example

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React / Vite
dist/

# Flutter / Dart generated outputs
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# IDE
.idea/
.vscode/
*.iml

# Logs
*.log

# Zips
*.zip

